{% extends "base.html" %}

{% block title %}Movies List{% endblock %}

{% block content %}
<div>
    <h1>MY TOP 10 MOVIES</h1>
    <p>These are my favorite movies of all time</p>
</div>

<div class="container flip-card">
    <div class="row">
            {% for movie in movies %}
                <div class="col flip-card-inner d-flex flex-column p-5 align-items-center align-content-center">
                    <div class="flip-card-front d-flex flex-column align-content-center align-items-center justify-content-center">
                      <span class="rankings"><strong>{{ movie.ranking }}</strong></span>
                      <img src="{{ movie.img_url }}" class="movie-image" alt="Avatar">
                    </div>
                    <div class="flip-card-back d-flex flex-column align-items-center align-content-center">
                        <div class="flip-card-back-contents p-5 d-flex flex-column p-2 align-items-center align-content-center">
                          <h1><strong>{{ movie.title }}</strong> ({{ movie.year }})</h1>
                          <p>{{ movie.rating }} 🍿</p>
                          <p><em>"{{ movie.review }}"</em></p>
                          <p>{{ movie.description }}</p>

                          <a href="{{ url_for('edit_movie', id=movie.id) }}" class="btn btn-outline-light">Update</a>
                          <a href="{{ url_for('delete_movie', id=movie.id) }}" class="btn btn-outline-light">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}