<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="banner">
        <p id="banner-text">Ryan Zmudka</p>
            <img src="/static/images/mountains.jpg" id="banner-pic">
    </div>
    <br>
    <div id="intro">
        <img src="./static/images/turtleturtle.jpg" id="profile-pic" alt="profile image">
        <h1>Ryan Zmudka</h1>
        <p>
            <em>Software Developer</em>
            <br>
            Web and Application developer - loves coffee
        </p>
    </div>
    <hr>
    <div id="skills">
        <h2>Skills</h2>
        <ul class="skills-list">
            <li>Web/App Development</li>
            <li>Infrastructure Automation</li>
            <li>Data Science</li>
            <li>API Development</li>
        </ul>
    </div>
    <hr>
    <div class="about-me">
        <button>Contact Me</button>
    </div>
</body>
</html>