body {
    height: 100vh;
    width: 100vw;
    background-color: #4c8485;
}

div {
    margin-bottom: 5vh;
}

#profile-pic {
    height: 10vh;
    width: 5vw;
}

#banner-pic {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

#banner-text {
    color: black;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    z-index: 1;
    position: absolute;
    margin: 50vh;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills {
    display: flex;
    justify-content: center;

}

.about-me {
    display: flex;
    justify-content: center;
}