<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Blog Posts</title>
</head>
<body>
<div class="block-solid">
    <h2>My Blog</h2>
</div>
    <div class="blog-posts">
        {% for post in posts: %}
            <div class="post">
                <h1>{{ post["title"] }}</h1>
                <p>{{ post["subtitle"] }}</p>
                <a href="{{ url_for('get_blog_post', num=post['id']) }}">Read More..</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>