{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Log In{% endblock %}

{% block content %}
<div class="container p-5 d-flex align-items-center flex-column">
  <div class="row">
    <div class="col">
      <h2>Hello! Login in below!</h2>
      {{ render_form(form) }}

<!--      Use render_form to avoid all of this formatting below thanks to bootstrap-flask!-->

<!--      &lt;!&ndash;      Turn off default browser validation with novalidate&ndash;&gt;-->
<!--      <form method="POST" action="{{ url_for('login_form') }}" novalidate>-->
<!--        {{ form.csrf_token }}-->
<!--        <p>-->
<!--          {{ form.email.label }} <br> {{ form.email(size=20) }}-->
<!--          {% for err in form.email.errors %}-->
<!--          <span style="color:red;">{{ err }}</span>-->
<!--          {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--          {{ form.password.label }} <br> {{ form.password(size=20) }}-->
<!--          {% for err in form.password.errors %}-->
<!--          <span style="color:red;">{{ err }}</span>-->
<!--          {% endfor %}-->
<!--        </p>-->
<!--          {{ form.submit}}-->
<!--      </form>-->
    </div>
  </div>
</div>
{% endblock %}