{% extends "base.html" %}
{% block title %} Posts {% endblock %}

{% block content %}
<div class="container-fluid d-flex bg-dark justify-content-center align-items-center w-100 h-50 p-5">
    <img src="/static/images/blog_banner.jpg" class="w-25 opacity-75">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex flex-column align-items-center mx-5 p-5">
            {% for post in posts: %}
                {% if post["id"] == num | int: %}
                <h1>{{ post["title"] }}</h1>
                <h3>{{post["subtitle"]}}</h3>
                <p>{{ post["body"] }}</p>
                <a class="btn bg-success text-white" href="{{ url_for('get_blog') }}">Back</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}